html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
}

.search-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input#search {
  height: 3rem;
  width: 600px;
  margin-top: 20px;
  padding-left: 1rem;
  border: none;
  border: 1px solid black;
}

.search-suggestion {
  height: 3rem;
  width: 600px;

  border: 1px solid black;
  border-top: none;

  padding-left: 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-suggestion > * {
  display: inline-flex;
}

.suggestion-name::after {
  content: ",";
}
