@font-face {
  font-family: "Work Sans";
  src: url(./assets/WorkSans-VariableFont_wght.ttf);
}

:root {
  --grey-bcg-1: #333;
  --grey-bcg-2: #282828;
  --grey-bcg-3: #1c1c1c;
  --grey-accent-1: #666666;
  --white-color-1: #eeeeee;
  --white-color-2: #cccccc;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  padding-top: 170px;
  font-family: "Work Sans";

  background-color: var(--grey-bcg-3);
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#search {
  width: 646px;
  padding: 18px 20px;
  border: none;
}

.suggestion-container {
  height: 124px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-suggestion {
  width: 646px;
  padding: 18px 20px;

  font-size: 20px;
  font-weight: 500;

  color: var(--white-color-2);
  border-bottom: 2px solid var(--grey-bcg-1);

  display: flex;
  align-items: center;
}

.search-suggestion > * {
  display: inline-flex;
}

.suggestion-name::after {
  content: ", ";
}

.weather-info-container {
  width: 650px;
  margin: 68px auto 0px auto;
  padding: 16px 29px 18px 21px;

  border-radius: 8px 8px 0 0;
  background-color: var(--grey-bcg-2);
}

.hourly-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 35px;
  margin-top: 16px;
  margin-bottom: 31px;
}

.hour-container {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-content: start;
}

.hour-container:not(.hour-container:first-of-type) {
  padding-top: 12px;
  gap: 5px;
}

.hour-time {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.hour-temperature {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.hour-container:first-of-type > .hour-time {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.hour-container:first-of-type > .hour-icon {
  height: 60px;
  width: 60px;
}

.hour-container:first-child > .hour-temperature {
  font-size: 44px;
  font-weight: 500;
  color: white;
}

.daily-info-container {
  height: 120px;
  width: 650px;
  margin: auto;
  border-radius: 0 0 8px 8px;
  background-color: var(--grey-bcg-2);

  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.day-info-container:first-of-type {
  background-color: var(--grey-bcg-1);
  border-top: 1px solid var(--grey-accent-1);
}

.day-info-container:first-of-type .day {
  color: var(--white-color-1);
}

.day-info-container:first-of-type .day-max-temp {
  color: var(--white-color-1);
}

.day-info-container:first-of-type .day-min-temp {
  color: var(--white-color-1);
}

.day-info-container {
  height: 100%;
  width: 81px;

  padding-top: 9px;

  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-content: start;
  border-top: 1px solid var(--grey-bcg-1);
}

.day-info-container + .day-info-container {
  border-left: 1px solid var(--grey-bcg-1);
}

.day {
  color: var(--white-color-2);
  margin: 0;
}

.day-icon {
  margin: 4px 0;
}

h3 {
  font-size: 44px;
  font-weight: 500;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

h6,
.h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.subtitle-1 {
  font-size: 15px;
  font-weight: 400;
}

.body-1 {
  font-size: 16px;
  font-weight: 500;
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
}

.body-3 {
  font-size: 14px;
  font-weight: 500;
}
.white-color-1 {
  color: var(--white-color-1);
}

.white-color-2 {
  color: var(--white-color-2);
}

.weather-info-container span {
  color: white;
}

.grey-bcg-1 {
  background-color: var(--grey-bcg-1);
}
.grey-bcg-2 {
  background-color: var(--grey-bcg-2);
}
.grey-bcg-3 {
  background-color: var(--grey-bcg-3);
}

.grey-accent-1 {
  background-color: var(--grey-accent-1);
}
